@layer base, tokens, components, overrides, user;
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

@import './styles/tokens.css';
@import './styles/base.css';
@import './styles/layout.css';
@import './styles/navigation.css';
@import './styles/article.css';
@import './styles/code.css';
@import './styles/toc.css';
@import './styles/search.css';
@import './styles/tabs.css';
@import './styles/components.css';
@import './styles/scrollbars.css';
